
html{
    overflow: hidden;
}

body{
    background-color:#591769;
    width: 100%;
}

main{
    background-color: #fff;
}

header{
    background-color:#591769;
    padding: 15px 0;
    border-bottom: 10px solid #1E4F05;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

figure #title{
    float: right;
    margin-top: 14px;
    margin-left: 15px;
}

figure img{
    width: 50px;
}

#school-logo{
    cursor: pointer;
}

header p{
    color: #fff;
    font-size: 1.1em;
    font-family: 'Montserrat';
}


.header-main{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.header-main .nav-header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.1em;
}

.header-main figure img{
    width: 200px;
}

.container-main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-header li{
    flex-shrink: 0;
}

.nav-header li a{
    color:#000000;
    transition: transform 0.3s ease, color 0.3s ease; 
    transform-origin: center;
    display: inline-block;
}

.nav-header a:hover{
    color: #2F2F2F;
    transition: 0.2s;
    transform: scale(1.06);
}

.hamburguinho{
    display: none;
}

.mobile-menu{
    display: none;
}

@media (max-width: 480px) and (max-height: 970px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        margin-left: ;
    }
    header #text-mobile{
        float: right;
        
    }

    #hidden-mobile{
        display: none;
    }
    .nav-header{
        display: none;
    }

    .hamburguinho{
        display:inline-block
    }
}