
html{
    overflow: hidden;
}

body{
    background-color:#591769;
    width: 100%;
}

main{
    background-color: #fff;
}

header{
    background-color:#591769;
    padding: 15px 0;
    border-bottom: 10px solid #1E4F05;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

figure img{
    width: 50px;
}

#school-logo{
    cursor: pointer;
}

header p{
    color: #fff;
    font-size: 1.1em;
    font-family: 'Montserrat';
}


.header-main{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.header-main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.1em;
}

.header-main figure img{
    width: 200px;
}

.container-main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-main a{
    color:#000000;
    transition: transform 0.2s, color 0.2s;
}

.nav-header a:hover{
    color: #2F2F2F;
    transition: 0.2s;
    font-size: 1.05em;
}